// Colours
/* blue #4056A1 */
$primary-color: #4056A1;
/* red #EF6969 */
$secondary-color: #EF6969;
/* light blue #A4B0F5 */
$tertiary-color: #A4B0F5;
/* gold #F58F29 */
$quaternary-color: #F58F29;
/* Black: #545149 */
$black: #545149;