@import "colors";
@import "mixins";

#mainHeader {
  width: 100%;
  background-color: $secondary-color;
  margin-top: 120px;
  margin-bottom: 10vh;
  height: 400px;
  position: relative;
  @include flexThis(center, center, column);
  background-image: url("/images/asfalt-light.png");
}

img#avatarPic {
  margin-bottom: 3vh;
}