@import "colors";
@import "fonts";
@import "mixins";

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  #mainHeader,
  #maincontent {
    margin-top: 200px;
  }

  #mainHeader {
    width: 30%;
    float: left;
    margin-left: 5%;
  }

  #maincontent {
    width: 50%;
    float: right;
    margin-right: 5%;
  }

  .new-tweet {
    padding-top: 0;
  }


}

/* Very small/mobile */
@media only screen and (max-width: 768px) {
  #newTweetError {
    font-size: $smallscreen-font-size;
  }
}

/* Very small/mobile */
@media only screen and (max-width: 550px) {
  nav {
    height: 200px;
    @include flexThis(center, center, row);
    text-align: center;
  }

  #newTweetError {
    text-align: center;
  }

  #newTweetError i {
    display: none;
  }

  #navItemContainer {
    @include flexThis(center, center, column);
  }

  #mainHeader {
    margin-top: 200px;
  }

  #logo,
  #navNewTweet {
    clear: both;
    display: block;
    margin: 20px 0;
  }

  .tweetBody {
    text-align: center;
  }

  .tweetHeader {
    @include flexThis(space-between, center, column);
  }

  .tweetHeader h4 {
    padding: 2vh 0;
    color: $primary-color;
  }

  #scrollToTop {
    display: none !important;
  }
}


@media only screen and (max-width: 324px) {
  header {
    width: 100%;
    text-align: center;
  }

  header img{
    max-height: 175px;
    max-width: 175px;
  }
  
}

@media only screen and (max-width: 256px) {
  .tweetHeader h4,
  .tweetHeader h3  {
    font-size: $smallscreen-font-size;
  }

  .tweetHeader img {
    max-height: 50px;
    max-width: 50px;
  }
}

@media only screen and (max-width: 170px) {
  .tweetHeader h4,
  .tweetHeader h3,
  .tweetBody p  {
    word-break: break-word;
  }
}