@import "colors";
@import "fonts";
@import "mixins";

nav {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 900;
  background-color: $primary-color;
  color: $white;
  top: 0;
  @include flexThis(center, center, row);
}

#navItemContainer {
  @include flexThis(space-between, center, row);
  width: 90%;
}

#logo {
  font-family: $secondary-font;
}

#navNewTweet {
  position: relative;
}