@import "colors";
@import "fonts";
@import "mixins";

.new-tweet {
  display: block;
  padding-top: 10vh;
  position: relative;
  
  h2 {
    color: $primary-color;
  }

  form {
    margin-top: 2vh;
  }

  textarea {
    /* Clear standard formatting */
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
  
    /* Set styling */
    display: block;
    width: 100%;
    border-bottom: 3px solid $black;
  }

  ::placeholder,
  textarea {
    color: $black;
  }

  ::placeholder {
    opacity: 1;
    font-weight: bold;
  }

  .flexRow {
    @include flexThis(space-between, center, row);
    margin-top: 3vh;

    input {
      background-color: $primary-color;
      color: $white;
      border: none;
      padding: 5px;
    } // flexRow
  }

  .flexRow input,
  .counter {
    font-family: $secondary-font;
  }
} // new-tweet

/* Error message */
#newTweetError {
  color: $secondary-color;
  padding: 1vh 0;
  border: 3px solid $secondary-color;
  margin-bottom: 3vh;
  display: none;
  border-radius: 10px;
  
  i,
  h4 {
    display: inline;
  }

  i {
    font-size: 1.2em;
    margin: 0 20px
  }
} //Error message