@import "colors";
@import "mixins";

.singleTweet {
  border: 3px solid $black;
  margin: 10vh 0;
  text-align: center;
  padding: 30px;
  transition: 0.3s;
}

.singleTweet:first-of-type {
  margin-top: 0;
}

/* Header formatting */
.tweetHeader,
.tweetHeader span,
.tweetFooter {
  @include flexThis(space-between, center, row);
}

.tweetHeader {
  
  h3 {
    color: $primary-color;
  }

  h4 {
    opacity: 0;
    color: $primary-color;
    transition: 0.3s;
  }
  
  img{
    max-height: 75px;
    max-width: 75px;
    margin-right: 10px;
  }
}


/* Body formatting */
.tweetBody {
  margin: 2vh 0;
  font-size: .9em;
  padding: 0 15px 4vh 15px;
  border-bottom: 3px solid $black;
  text-align: left;
}

/* Footer formatting */
.tweetFooter {
  font-size: .6em;
  font-weight: 600;
  
  i {
    margin: 0 5px;
    color: $primary-color;
  }

  .socials {
    opacity: 0;
    transition: 0.3s;
  }
}


/* Hover Format */
.singleTweet:hover {
  @include textShadow($black);
  @include boxShadow($tertiary-color);
  
  h3 {
    @include textShadow($primary-color);
  }

  h4,
  .tweetFooter span{
    opacity: 1;
    text-shadow: none !important;
  }
  
}