nav {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 900;
  background-color: #4056A1;
  color: #FFFFFF;
  top: 0;
}

nav span {
  margin: 1.5em;
  
}

#logo {
  font-family: 'Bungee', cursive;
  float: left;
}

#navNewTweet {
  float: right;
  position: relative;
}

@keyframes bounceUpDown {
  from {
    bottom: -40px;
  }

  to {
    bottom: -50px;
  }
}

#navNewTweet button  {
  display: inline-block;
  position: absolute;
  
  left: 50%;
  z-index: 1001000;
  margin-left: -20px;
  color: #F58F29;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;

  /* Animation */
  animation-name: bounceUpDown;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;              
  animation-iteration-count: infinite;    
  animation-direction: alternate;
  animation-fill-mode: both;
}

