nav {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 900;
  background-color: #4056A1;
  color: #FFFFFF;
  top: 0;
}

nav span {
  margin: 1.5em;
  
}

#logo {
  font-family: 'Bungee', cursive;
  float: left;
}

#navNewTweet {
  float: right;
  position: relative;
}

#navNewTweet i  {
  display: inline-block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  z-index: 1001000;
  margin-left: -5px;
  color: #F58F29;
}
